{% extends "base.html" %}

{% block main %}
    {% if ticket_list %}
    <div class="test">
        <div class="ticketswrapper">
            {% for ticket in ticket_list %}
                <div class="ticket">
                    <a href="/tickets/{{ ticket.id }}/">
                        {{ ticket.title }}
                    </a>
                    {{ ticket.ranking }}
                </div>
            {% endfor %}
        </div>
     </div>
    {% else %}
        <p> The world is perfect. No problems exist. </p>
    {% endif %}
{% endblock %}
